<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>My angular app</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
</head>
<body>
  <div ng-controller="MainController as main">
<!--     <a href="" ng-click="myKey = 'one'">
  Key one
</a>
<a href="" ng-click="myKey = 'two'">
  Key two
</a>
{{ main.myObject }} property dynamically use notacion similar a js change the value
dynamically -->
<!--     <p>Items: {{ main.myArray }}
  {{
    main.myArray.length > 0 ?
    'Something here' :
    'Nothing here'
  }}
  <p>
    {{
      2 + 2
    }}
  </p> -->
      <p>
        {{ main.text | uppercase }}
      </p>
<!--     </p> -->
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/MainController.js"></script>
</body>
</html>
