<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Labo</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div ng-controller="MoviesController as movies">
    <ul>
      <li
        ng-class="{
          old: movie.year < 1999,
          modern: movie.year > 1999 && movie.year < 2005,
          new: movie.year > 2005
        }"
        ng-repeat="movie in movies.favorites">
        <img ng-src="img/url.jpg/{{movie.image}}" alt="movie">
        <a ng-href="https://en.wikipedia.org/wiki/The_Bucket_List#/media/File:Bucket_list_poster.jpg{{movie.image}}" target="_blank">
          {{ movie.title }}
        </a>
        <p>Released in: {{ movie.year }}</p>
        <p ng-if="movie.popular">This movie is popular</p>
        <p ng-if="movie.year < '2000'">This movie is old</p>
        <input type="text" ng-model="movie.year">
      </li>
    </ul>
  </div>
    <!--ng-href/ ng-src cuando se haga referencia a una url incorrecta y el usuario haga click
      antes de que angular lo reemplace por su valor ng-href lo resuelve-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/Moviescontroller.js"></script>
</body>
</html>
