body{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
.wrapper{
  width: 900px;
  margin: 0 auto;
}
.todo{
  width: 20em;
  margin: 0 auto;
}
.todo__list{
  list-style: none;
}
.todo__item{
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}
